* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin-top: 50px;
}

nav {
	text-align: center;
	background: #33cccc;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
nav li {
	display:inline-block;
	text-transform: uppercase;
	padding: 20px 5%;
}

nav a {
	text-decoration: none;
}


#box {
	border: 1px solid black;
	width: 400px;
	height: 400px;
	padding: 20px;
}

h1 {
	font-size: 64px;
}

section {
	min-height: 100vh
	margin-top: -50px;
	padding-top: 50px;
}

#menu-icon {
	position: fixed;
	top: 20px;
	right: 5%;
	border: none;
	background: transparent;
	font-size: 20px;
	display: none;
}
@media (max-width : 768px) {
	 nav {
	 	display: none;
	 }
	 #menu-icon {
	 	display: block;
	 }
	 nav li {
		display: block;
	 }
	 body {
	 	margin-top: 150px;
	 }
	 section {
		margin-top: -150px;
		padding-top: 150px;
}
}